@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@mixin userTabs($display: none) {
  background-color: $dark;
  color: $white;
  display: $display;
  flex-direction: column;

  .nav-link {
    color: $white;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: $gray-800;
    }
  }
  .nav-link.active {
    background-color: $gray-800;
  }
}
#SideNavBar {
  @include userTabs();

  @include media-breakpoint-up(lg) {
    border-right: 1px solid $gray-800;
    display: flex;
    padding: 0.5rem;
    width: 300px;
    height: 100vh;
    // For larger screens
  }
}
#TopNavBarMobile {
  @include userTabs(flex);
}
