@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@mixin userTabs($display: none) {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  display: $display;
  flex-direction: column;

  .nav-link {
    color: var(--bs-light);
    padding: 1rem 1rem;
    &:hover {
      background-color: var(--bs-gray-800);
    }
  }
  .nav-link.active {
    background-color: var(--bs-gray-800);
  }
}

#SideNavBar {
  @include userTabs();

  @include media-breakpoint-up(lg) {
    border-right: 1px solid var(--bs-gray-800);
    display: flex;
    padding: 0.5rem;
    width: 270px;
    height: 100vh;
    // For larger screens
  }
}

#TopNavBarMobile {
  @include userTabs(flex);
}
