/* DataTable.scss */

.custom-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  word-wrap: break-word;
  white-space: normal;
  padding: 10px;
  vertical-align: middle;
  border: none; /* Remove border */
}

.custom-table th {
  background-color: #f8f9fa;
  color: #343a40;
  font-weight: bold;
  border-bottom: 2px solid #dee2e6; /* Bold line separating header and data */
}

.custom-table td {
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6; /* Line separating each row */
}

.custom-table tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.custom-table tr:hover {
  background-color: #e9ecef;
}

.pagination {
  margin: 20px 0;

  .page-item.active .page-link {
    background-color: var(--bs-primary); /* Use Bootstrap primary color */
    color: var(--bs-secondary); /* Use Bootstrap secondary color */
    border-color: var(--bs-primary);
  }

  .page-link {
    color: var(--bs-primary);
  }

  .page-link:hover {
    color: var(--bs-secondary);
    background-color: var(--bs-info);
  }
}
