@import "../../color-theme.scss"; // Make sure to import your variables file if it's not already imported

.user-list-table {
  width: 100%;
  border-collapse: collapse;
}

.user-list-table th,
.user-list-table td {
  padding: 10px;
  white-space: normal;
  border: none; /* Remove borders */
  cursor: pointer; /* Indicate that the rows are clickable */
  font-size: 1rem;
}

.user-list-table th {
  background-color: #f8f9fa;
  color: #343a40;
  font-weight: bold;
}

.user-list-table td {
  background-color: #ffffff;
}

.user-list-table tr:hover {
  background-color: #e9ecef;
}

.user-list-table-row.selected td {
  background-color: var(--bs-primary) !important;
  color: var(--bs-light) !important;
}
