@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

.btn-sm {
  &.py-1 {
    line-height: 1.2;
    font-size: 0.875rem;
  }
}

// Custom widths for the dataTable row
.dataTable {
  @media (max-width: 576px) {
    width: 100%;
  }

  // @media (max-width: 768px) {
  //   width: 80%;
  // }

  // @media (max-width: 992px) {
  //   width: 70%;
  // }

  // @media (max-width: 1200px) {
  //   width: 60%;
  // }
}
