$primary: #14213d;
$secondary: #f5ba41;
$success: #198754;
$info: #677b82;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #14213d;
//import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
